<div>
<p ><img  align="right" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/aj29iemt0ogdyrdlksd4" height="160px"></p>
</div>

<br>
<br>

# **Aula 08 - Substituindo Dados**

<br>
<br>

___

**Importação da Biblioteca**

In [ ]:
import pandas as pd

A função **replace()** substitui os valores fornecidos.

In [ ]:
dicionario = {'Nome': ['Pedro', 'Ana', 'Karina', 'Patricia', 'Carlos', 'Felipe', 'José', 'Gustavo', 'Fernando'],
                 'Idade': [20, 21, 19, 18, 23, 21, 27, 30, 22]
                 }

In [ ]:
df = pd.DataFrame(dicionario)

In [ ]:
df.head()

       Nome  Idade
0     Pedro     20
1       Ana     21
2    Karina     19
3  Patricia     18
4    Carlos     23

In [ ]:
df.replace(21, 100, inplace=True)

In [ ]:
df.head()

       Nome  Idade
0     Pedro     20
1       Ana    100
2    Karina     19
3  Patricia     18
4    Carlos     23

In [ ]:
df.replace([20, 19, 18], 4, inplace=True)

In [ ]:
df.head()

       Nome  Idade
0     Pedro      4
1       Ana    100
2    Karina      4
3  Patricia      4
4    Carlos     23

In [ ]:
df['Nome'] = df['Nome'].replace('Pedro', 'Larissa')

In [ ]:
df.head()

       Nome  Idade
0   Larissa      4
1       Ana    100
2    Karina      4
3  Patricia      4
4    Carlos     23

In [ ]:
df['Nome'].replace('Karina', 'Daniel', inplace=True)

In [ ]:
df.head()

       Nome  Idade
0   Larissa      4
1       Ana    100
2    Daniel      4
3  Patricia      4
4    Carlos     23

In [ ]:
df['Nome'].replace({'Patricia': 'Ana', 'Carlos': 'Felipe'}, inplace=True)

In [ ]:
df.head()

      Nome  Idade
0  Larissa      4
1      Ana    100
2   Daniel      4
3      Ana      4
4   Felipe     23